<footer class="page-footer lighten-1 red">
    <div class="footer-copyright red">
        <div class="container">
            All articles belong to <a class="white-text text-lighten-4 bold" href='http://www.nintendo.com'>Nintendo</a>
        </div>
    </div>
</footer>