<nav>
    <div class="nav-wrapper red">
        <a href="/" class="brand-logo center">Scraped Nintendo News</a>
        <ul class="right" id="nav-mobile">
            <li>
                <a href="/scrape">Scrape</a>
            </li>
            <li>
                <a href="https://github.com/lyonsa/mongoose-news" target="_blank">Git Repo</a>
            </li>
        </ul>
    </div>
</nav>